html{
	background-color: #33cc99;
	font-family: "Times New Roman", Georgia, Serif;
}


a.grande{
  font-size: 20px;
  text-decoration: none;

}
a.grande:hover{
   color: #7131BC;
}

a.mediano{
	font-size: 22px;
}
a.peque{
	font-size: 15px;
}

li.ciudad{
	font-size: 29px;
	color: #999;
}

/*chaining chain - cadena */ 

#blanco{
	color: white;
}

ol{
	background-color: black;
}

.lista1 > li {
	color:blue;
}

.lista2 > li {
	color:red;
}


button{
	height: 40px;
	width: 140px;
	background-color: blue;
}







/*ColourLovers.com es la pagina donde encontraran colores*/